{
	"name": "clarion{{if .name}}-{{.name}}{{end}}",
	"type": "light",
	"semanticHighlighting": true,
	"colors" : {
		{{/*  Editor colors */}}
		"editor.background": "{{bg 0}}",
		"editor.foreground": "{{fg 0}}",
		"editorLineNumber.foreground": "{{bg 5}}",
		"editorLineNumber.activeForeground": "{{bg 4}}",
		"editorWhitespace.foreground": "{{bg 3}}",
		"editorRuler.foreground": "{{bg 3}}",
		"editorLink.activeForeground": "{{fg 1}}",

		"editorGutter.modifiedBackground": "{{.modified|alpha 50}}",
		"editorGutter.addedBackground": "{{.added|alpha 50}}",
		"editorGutter.deletedBackground": "{{.removed|alpha 50}}",
		"editorError.foreground": "{{.problem|alpha 50}}",

		{{/*  Base colors */}}
		"focusBorder": "{{fg 1}}",
		"foreground": "{{fg 0}}",
		"widget.shadow": "{{fg 0|alpha 90}}",
		"selection.background": "{{bg 6}}",
		"descriptionForeground": "{{bg 9}}",
		"icon.foreground": "{{bg 9}}",

		{{/*  Window border */}}
		"window.activeBorder": "{{bg 3}}",
		"window.inactiveBorder": "{{bg 3}}",

		{{/*  Text colors */}}
		"textBlockQuote.background": "{{bg 3}}",
		"textBlockQuote.border": "{{bg 6}}",
		"textCodeBlock.background": "{{bg 3}}",
		"textLink.activeForeground": "{{fg 0}}",
		"textLink.foreground": "{{fg 0}}",
		"textPreformat.foreground": "{{bg 10}}",
		"textSeparator.foreground": "{{bg 5}}",

		{{/*  Button control */}}
		"button.background": "{{bg 2}}",
		"button.foreground": "{{fg 0}}",
		"button.hoverBackground": "{{bg 1}}",
		"checkbox.background": "{{bg 1}}",
		"checkbox.foreground": "{{fg 0}}",
		"checkbox.border": "{{bg 2}}",

		{{/*  Dropdown control */}}
		"dropdown.background": "{{bg 2}}",
		"dropdown.listBackground": "{{bg 3}}",
		"dropdown.border": "{{fg 1}}",
		"dropdown.foreground": "{{bg 2}}",

		{{/*  Highlights */}}
		"editorCursor.foreground": "{{fg 2}}",
		"editor.selectionBackground": "{{bg 3}}",
		"editor.selectionForeground": "{{fg 0}}",
		"editor.selectionHighlightBackground": "{{bg 3}}",
		"editor.wordHighlightBackground": "{{bg 3}}",
		"editor.hoverHighlightBackground": "{{bg 3}}",

		{{/*  Lists */}}
		"list.activeSelectionBackground": "{{bg 3}}",
		"list.activeSelectionForeground": "{{bg 10}}",
		"list.dropBackground": "{{bg 1}}",
		"list.focusBackground": "{{bg 3}}",
		"list.focusForeground": "{{bg 10}}",
		"list.highlightForeground": "{{fg 1}}",
		"list.hoverBackground": "{{bg 1}}",
		"list.hoverForeground": "{{fg 0}}",
		"list.inactiveSelectionBackground": "{{bg 1}}",
		"list.inactiveSelectionForeground": "{{fg 0}}",
		"list.inactiveFocusBackground": "{{bg 1}}",

		{{/*  Editor widget */}}
		"editorWidget.foreground": "{{bg 9}}",
		"editorWidget.background": "{{bg 0}}",
		"editorWidget.border": "#00000000",
		"editorSuggestWidget.highlightForeground": "{{fg 1}}",
		"editorSuggestWidget.selectedBackground": "{{bg 4}}",

		{{/*  Side bar */}}
		"sideBar.background": "{{bg 1}}",
		"sideBarSectionHeader.foreground": "{{fg 0}}",
		"sideBarSectionHeader.background": "{{bg 3}}",
		"sideBar.border": "{{bg 3}}",

		{{/*  Editor groups and tabs */}}
		"editorGroup.border": "{{bg 3}}",
		"editorGroupHeader.tabsBackground": "{{bg 1}}",
		"editorGroupHeader.border": "{{bg 4}}",
		"editorGroupHeader.tabsBorder": "{{bg 4}}",
		"tab.inactiveBackground": "{{bg 1}}",
		"tab.border": "#00000000",
		"tab.inactiveForeground": "{{bg 6}}",
		"tab.activeBackground": "{{bg 2}}",
		"tab.activeBorder": "{{bg 10}}",
		"tab.activeForeground": "{{bg 10}}",

		{{/*  Breadcrumbs colors */}}
		"breadcrumb.foreground": "{{bg 6}}",
		"breadcrumb.background": "{{bg 2}}",
		"breadcrumb.focusForeground": "{{bg 8}}",

		{{/*  Title bar colors */}}
		"titleBar.activeBackground": "{{bg 4}}",
		"titleBar.activeForeground": "{{bg 8}}",
		"titleBar.inactiveBackground": "{{bg 4}}",
		"titleBar.inactiveForeground": "{{bg 6}}",
		"titleBar.border": "{{bg 5}}",

		{{/*  Activity bar */}}
		"activityBar.background": "{{bg 3}}",
		"activityBar.inactiveForeground": "{{fg 3}}",
		"activityBar.foreground": "{{fg 1}}",
		"activityBar.border": "{{bg 2}}",
		"activityBarBadge.background": "{{fg 2}}",
		"activityBarBadge.foreground": "{{bg 1}}",

		{{/*  Status bar */}}
		"statusBar.background": "{{bg 1}}",
		"statusBar.foreground": "{{fg 0}}",
		"statusBar.border": "{{bg 2}}",
		"statusBar.noFolderBackground": "{{bg 1}}",
		"statusBar.noFolderForeground": "{{fg 0}}",
		"statusBar.noFolderBorder": "{{bg 2}}",
		"statusBar.debuggingBackground": "{{bg 1}}",
		"statusBar.debuggingForeground": "{{fg 0}}",
		"statusBar.debuggingBorder": "{{bg 2}}",

		{{/*  Minimap */}}
		"minimap.findMatchHighlight": "{{.confirm|alpha 80}}",
		"minimap.selectionHighlight": "{{bg 3}}",
		"minimap.errorHighlight": "{{.problem|alpha 50}}",
		"minimap.warningHighlight": "{.notice|alpha 80}}",
		"minimapSlider.background": "{{fg 0|alpha 80}}",
		"minimapSlider.hoverBackground": "{{fg 0| alpha 60}}",
		"minimapSlider.activeBackground": "{{fg 0| alpha 70}}",

		{{/*  Git colors */}}
		"gitDecoration.addedResourceForeground": "{{fg 1}}",
		"gitDecoration.modifiedResourceForeground": "{{fg 1}}",
		"gitDecoration.deletedResourceForeground": "{{fg 2}}",
		"gitDecoration.untrackedResourceForeground": "{{fg 1}}",
		"gitDecoration.ignoredResourceForeground": "{{fg 3}}",
		"gitDecoration.conflictingResourceForeground": "{{.problem}}",
		"gitDecoration.submoduleResourceForeground": "{{fg 0}}",

		{{/*  Settings editor colors */}}
		"settings.modifiedItemIndicator": "{{.modified}}",

		{{/*  Quick picker */}}
		"pickerGroup.border": "{{fg 2}}",
		"pickerGroup.foreground": "{{fg 2}}",

		{{/*  Integrated Terminal colors */}}
		"terminal.background": "{{bg 1}}",
		"terminal.foreground": "{{fg 0}}",
		{{/*
		"terminal.ansiBrightBlack": "{{bg 4}}",
		"terminal.ansiBlack": brown(75),
		"terminal.ansiBrightBlue": hsl(250, 55, 50),
		"terminal.ansiBlue": hsl(250, 55, 40),
		"terminal.ansiBrightCyan": hsl(200, 55, 50),
		"terminal.ansiCyan": hsl(200, 55, 40),
		"terminal.ansiBrightGreen": hsl(110, 55, 50),
		"terminal.ansiGreen": hsl(110, 55, 40),
		"terminal.ansiBrightMagenta": hsl(285, 55, 50),
		"terminal.ansiMagenta": hsl(285, 55, 40),
		"terminal.ansiBrightRed": hsl(10, 55, 50),
		"terminal.ansiRed": hsl(10, 55, 40),
		"terminal.ansiBrightWhite": foreground,
		"terminal.ansiWhite": brown(25),
		"terminal.ansiBrightYellow": hsl(60, 55, 50),
		"terminal.ansiYellow": hsl(60, 55, 40),
		"terminal.selectionBackground": "{{bg 6}}",
		"terminalCursor.background": "{{bg 3}}",
		"terminalCursor.foreground": hl1,
		*/}}
	}
}