{
    "name": "clarion",
    "displayName": "clarion",
    "description": "A minimalist theme focusing on clarity and semantic content.",
    "publisher": "flowchartsman",
    "repository": "https://github.com/flowchartsman/clarion",
    "license": "MIT",
    "icon": "icon.png",
    "keywords": [
        "monochrome",
        "light",
        "clarity",
        "readable",
        "readability",
        "contrast",
        "science"
    ],
    "version": "{{.Version}}",
    "engines": {
        "vscode": "^1.55.0"
    },
    "categories": [
        "Themes"
    ],
    "contributes": {
        "grammars": [
            {
                "path": "./syntaxes/landmarks.tmLanguage.json",
                "scopeName": "clarion.landmarks",
                "injectTo": ["source.go","source.c","source.cpp"]
            }
        ],
        "themes": [
            {{- range $index, $element := .ThemeContribs}}
            {{- if $index}},{{end}}
            {
                "label": "{{.Label}}",
                "uiTheme": "vs",
                "path": "./themes/{{.File}}"
            }
            {{- end}}
        ]
    }
}